<div class="device" id="{L.NAME}-devices-{DS.NAME}">
    
    <h4>{DS.NAME}</h4>
    <img src="../images/{L.NAME}-device-{DS.NAME}.png" />
    <p>{DS.DESC}</p>
    
    <div class="gates" id="{L.NAME}-devices-{DS.NAME}-gates">
        
        <h5>Gates</h5>
        
        {GATES}
        
    </div><!-- end gates -->
    
    <div class="variants" id="{L.NAME}-devices-{DS.NAME}-variants">
        
        <h5>Variants</h5>
        
        {VARIANTS}
        
    </div><!-- end variants -->
    
</div><!-- end device -->