<div class="library" id="{L.NAME}">
    
    <h2>{L.NAME}</h2>
    <p>{L.DESC}</p>
    
    <div class="devices" id="{L.NAME}-devices">

        <h3>Devices</h3>
        
        {DEVICES}
        
    </div><!-- end devices -->
    
    <div class="packages" id="{L.NAME}-packages">
        
        <h3>Packages</h3>
        
        {PACKAGES}
        
    </div><!-- end packages -->
    
    <div class="symbols" id="{L.NAME}-symbols">
        
        <h3>Symbols</h3>
        
        {SYMBOLS}
        
    </div><!-- end symbols -->
        
</div><!-- end library -->