<div class="library">
    
    <h1>{L.NAME}</h1>
    <p>{L.DESC}</p>
    
    <div id="tabs">
    
        <ul>
            <li><a href="#devices">Devices</a></li>
            <li><a href="#packages">Packages</a></li>
            <li><a href="#symbols">Symbols</a></li>
        </ul>
    
        <div id="devices">
        
            {DEVICES}
        
        </div><!-- end devices -->
    
        <div id="packages">
        
            {PACKAGES}
        
        </div><!-- end packages -->
    
        <div id="symbols">
        
            {SYMBOLS}
        
        </div><!-- end symbols -->
        
    </div><!-- end tabs -->
    
</div><!-- end library -->