<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<link rel="stylesheet" href="../css/library.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/jqueryui-theme/theme.css" type="text/css" media="screen, projection" />
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../js/library.js"></script>
	<title>Monowave Eagle Libraries</title>
	
</head>

<body>
<div id="wrapper">
    <div id="header">
        <p>Monowave Eagle Libraries</p>
    </div>

    <div id="sidebar">
        <p><a href="index.html">Introduction</a></p>
        <p>Libraries</p>
        <ul id="toc">
            {TOC}
        </ul>
    </div>

    <div id="content">
        
        {CONTENT}
        
    </div><!-- end content -->
    
    <div id="footer">
        <p>
            <a href="http://validator.w3.org/check?uri=referer">
                <img src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0 Strict" />
            </a>
        </p>
        <p>&copy; 2009 Monowave Labs</p>
    </div>
    
</div>
</body>
</html>
